/*********************************CSS NAVBAR***********************************/
.bg-brand{
    background-color: black;
}

.sony-logo{
    width: 80px;
}

.ham-menu{
    border: 1px solid #c7c6c6;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.bars-menu{
    width: 20px;
}

.menu-triangle{
    width: 11px;
}

.my-nav-menu ul{
    list-style: none;
    margin-bottom: 0;
}

.my-nav-menu a{
    text-decoration: none;
    color: black;
}

.my-nav-menu svg{
    width: 20px;
}
/*********************************CSS NAVBAR***********************************/


/***************************CSS SLIDER INZIALE*********************************/
.jumbotron, .slider{
    min-height: 500px;  /* altezza di test */
} 

.bg-jumbo{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bg-jumbo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.img-list{
    border-radius: 15px;
}
/***************************CSS SLIDER INZIALE*********************************/




/********************************CSS ECCO LA PLAYSTATION 5*********************************/
.img-joypad-ps5, .img-ears-ps5, .img-remote-ps5, .img-camera-ps5{
    opacity: 0.7;
}
/********************************CSS ECCO LA PLAYSTATION 5*********************************/




/********************************CSS IT TAKES TWO*********************************/
.bg-takes{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bg-takes img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
/********************************CSS IT TAKES TWO*********************************/




/********************************CSS NUOVE USCITE*********************************/
.section.bg-news{
    background-color: #1F1F1F;
}
/********************************CSS NUOVE USCITE*********************************/




/********************************CSS ESPLORA PS4*********************************/

/********************************CSS ESPLORA PS4*********************************/





/********************************CSS PS PLUS*********************************/
.bg-plus{
    background-color: #BEBCBB;
}

.img-plus{
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: auto;
}

.padding-container{
    padding: 8rem 0;
}
/********************************CSS PS PLUS*********************************/



/********************************CSS PS STORE*********************************/

/********************************CSS PS STORE*********************************/




/********************************CSS PS NOW*********************************/
.bg-now{
    background-color: #161C3B;
}

/********************************CSS PS MOW*********************************/




/********************************CSS SOCIAL*********************************/
.img-social{
    width: 120px;
}
/********************************CSS SOCIAL*********************************/




/********************************CSS FOOTER*********************************/
.bg-footer{
    background-color: #00439C;
}

.img-ps-foot{
    width: 90px;
}

.region-footer svg{
    width: 20px;
    vertical-align: middle;
}

.region-footer p{
    margin-bottom: 0;
}

.my-card-footer ul{
    list-style: none;
}

.my-card-footer span{
    text-decoration: underline;
}

.sie-logo img{
    width: 120px;
}
/********************************CSS FOOTER*********************************/


@media screen and (max-width: 768px){
    .my-card-now{
        display: none;
    }

    .img-plus{
        display: none;
    }
}

@media screen and (max-width: 992px){
    .padding-container{
        padding: 2rem 0; /* soluzione momentanea manca settare padding al testo */
    }
}