header{
    position: sticky;
    z-index: 3;
    top: -38px;
}

/*********************************CSS NAVBAR***********************************/
.bg-brand{
    background-color: black;
}

.sony-logo{
    width: 80px;
}

.ham-menu{
    border: 1px solid #c7c6c6;
    width: 50px;
    height: 40px;
    display: none;
    border-radius: 4px;
}

.bars-menu{
    width: 20px;
}

.menu-triangle{
    width: 11px;
}

.my-nav-menu ul{
    list-style: none;
    margin-bottom: 0;
}

.my-nav-menu a{
    text-decoration: none;
    color: black;
}

.my-nav-menu svg{
    width: 20px;
}

.nav-list{
    display: flex;
}

.card-search{
    margin-left: 2rem;
}
/*********************************CSS NAVBAR***********************************/


/***************************CSS SLIDER INZIALE*********************************/
.jumbotron{
    min-height: 500px;
    margin-bottom: 2rem;
} 

.bg-jumbo{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bg-jumbo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.img-list{
    border-radius: 15px;
}

.jumbo-pd{
    padding-top: 9rem;
}

.jumbo-fnt{
    font-size: 42px;
}
/***************************CSS SLIDER INZIALE*********************************/




/********************************CSS ECCO LA PLAYSTATION 5*********************************/
.img-opacity{
    opacity: 0.7;
}

.w-card-mq{
    width: 50%;
    padding-bottom: .8rem;
}

.mb-card-ps5{
    padding-bottom: 4rem
}

/********************************CSS ECCO LA PLAYSTATION 5*********************************/




/********************************CSS IT TAKES TWO*********************************/
.bg-takes{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bg-takes img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.slider{
    min-height: 600px;
}

.takes-pd{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
/********************************CSS IT TAKES TWO*********************************/




/********************************CSS NUOVE USCITE*********************************/
.section.bg-news{
    background-color: #1F1F1F;
}

.news-pd{
    padding-top: 2rem;
    padding-bottom: 4rem;
}
/********************************CSS NUOVE USCITE*********************************/




/********************************CSS ESPLORA PS4*********************************/
.explore-pd{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.my-card-ps4{
    padding-bottom: 5rem;
}
/********************************CSS ESPLORA PS4*********************************/





/********************************CSS PS PLUS*********************************/
.bg-plus{
    background-color: #BEBCBB;
}

.img-plus{
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: auto;
}

.padding-container{
    padding: 6rem 0;
}
/********************************CSS PS PLUS*********************************/



/********************************CSS PS STORE*********************************/
.sales-pd{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.my-card-store{
    padding-top: 4rem;
}
/********************************CSS PS STORE*********************************/




/********************************CSS PS NOW*********************************/
.bg-now{
    background-color: #161C3B;
}

/********************************CSS PS MOW*********************************/




/********************************CSS SOCIAL*********************************/
.img-social{
    width: 120px;
}

.social-container{
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

.social-pd{
    padding-top: 4rem;
    padding-bottom: 6rem;
}
/********************************CSS SOCIAL*********************************/




/********************************CSS FOOTER*********************************/
.bg-footer{
    background-color: #00439C;
}

.img-ps-foot{
    width: 90px;
}

.region-footer svg{
    width: 20px;
    vertical-align: middle;
}

.region-footer p{
    margin-bottom: 0;
}

.my-card-footer ul{
    list-style: none;
}

.my-card-footer span{
    text-decoration: underline;
}

.my-card-ft{
    padding-bottom: 3rem;
}

.my-card-ftt{
    padding-top: 3rem;
}

.sie-logo img{
    width: 120px;
    padding-bottom: .8rem;
}

.ft-pd{
    padding-top: 5rem;
    padding-bottom: 6rem;
}

.ps-foot-pd{
    padding-bottom: 2.5rem;
}

.txt-foot{
    font-size: 14px;
}
/********************************CSS FOOTER*********************************/





/****************************CSS MEDIA QUERY********************************/
@media screen and (max-width:576px){
    .img-social{
        width: 225px;
        margin-bottom: 3rem;
        aspect-ratio: 1/1;
    } 
    
    .social-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .social-pd{
        padding-top: 4rem;
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 768px){
    .my-card-now{
        display: none;
    }

    .img-plus{
        display: none;
    }

    .w-card-mq{
        width: 100%;
    }

    .txt-ps5{
        display: none;
    }

    .my-card-store{
        padding-top: 3rem;
    }

    .psnow-pd{
        padding: 3rem;
    }
}

@media screen and (max-width: 992px){
    .padding-container{
        padding: 2rem 0;
    }
}

@media screen and (max-width: 1200px){
    .nav-list{
        display: none;
    }

    .ham-menu{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .jumbo-pd{
        padding-top: 10rem;
    }
}
/****************************CSS MEDIA QUERY********************************/




/********************************BUTTONS************************************/
.btn-secondary.my-first-btn{
    background-color: #363636;
    border-radius: 25px;
}

