/*********************************CSS NAVBAR***********************************/
.bg-brand{
    background-color: black;
}

.sony-logo{
    width: 80px;
}

.ham-menu{
    border: 1px solid #c7c6c6;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.bars-menu{
    width: 20px;
}
/*********************************CSS NAVBAR***********************************/


/***************************CSS SLIDER INZIALE*********************************/
.my-row{
    min-height: 500px; /* altezza di test */
} 

.bg-jumbo{
    background-image: url("../img/jumbo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.return-logo{
    width: 260px;
}

.img-list{
    width: 100%;
    border-radius: 15px;
}
/***************************CSS SLIDER INZIALE*********************************/




/********************************CSS ECCO LA PLAYSTATION 5*********************************/
.img-ps5-big{ /* la dimensione dell'immagine va modificata nelle media query */
    width: 650px;
}

.img-ps5-lit, .img-joypad-ps5, .img-ears-ps5, .img-remote-ps5, .img-camera-ps5{
    width: 120px;
}

